/* set global font family to sans-serif */
* {
  font-family: sans-serif;
}

/* button base styles */
.button {
  border-radius: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.5rem 2.5rem;
  background-color: #e43489;
  border: 0px;
  color: white;
  position: relative;
  transition: all 0.6s ease-in-out; /* transition to fade text smoothly */
  z-index: 1;
  overflow: hidden;
  font-weight: bold;
  cursor: pointer;
}

/* circular element base styles */
.button::before {
  height: 0px;
  width: 0px;
  content: "";
  background: #ededed;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s ease-in-out; /* transition to scale smoothly */
  z-index: -1; /* move this behind the button text */
}

/* scale circular element on button hover */
.button:hover::before {
  height: 300px;
  width: 300px;
}

/* change button text color on hover*/
.button:hover {
  color: #e43489;
}
